body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}

.header-left h1 {
    margin: 50;
    font-size: 3rem;
}

.header-right {
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

#about {
    background-color: #f4f4f4;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background-color: #e4e4e4;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

.project-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-tile {
    flex: 1 1 calc(50% - 1rem);
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1 );
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-tile:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-tile h3 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.social-media a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.social-media a:hover {
    transform: scale(1.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input, form textarea, form button {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
